@inherits LayoutComponentBase
@inject WebsiteAuthenticator WebsiteAuthenticator

<PageTitle>ProjectManagement</PageTitle>

<Blazored.Toast.BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopCenter"
                               Timeout="2" />

<AuthorizeView>
    <NotAuthorized>
        <div class="form-signin text-center">
            <EditForm Model="LoginFormModel" Context="Login">
                <h1 class="h3 mb-3 fw-normal">Вход</h1>
                <div class="form-floating">
                    <InputText @bind-Value="LoginFormModel.Username"
                               class="form-control" placeholder="Логин" />
                    <label>Логин</label>
                </div>
                <div class="form-floating">
                    <InputText type="password" @bind-Value="LoginFormModel.Password"
                               class="form-control" placeholder="Пароль" />
                    <label>Пароль</label>
                </div>
                <button @onclick="TryLogin" class="btn btn-primary mt-3 w-100">Войти</button>
            </EditForm>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <Authorizing>
        Загрузка...
    </Authorizing>
</AuthorizeView>

@code {
    private LoginFormModel LoginFormModel { get; set; } = new();

    private async Task TryLogin()
    {
        await WebsiteAuthenticator.LoginAsync(LoginFormModel);
    }
}