@inherits LayoutComponentBase
@inject WebsiteAuthenticator WebsiteAuthenticator

<PageTitle>ProjectManagement</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <EditForm Model="LoginFormModel" Context="Login">
            <div>
                <label>
                    Логин:
                    <InputText @bind-Value="LoginFormModel.Username" class="form-control"></InputText>
                </label>
            </div>
            <div>
                <label>
                    Пароль:
                    <InputText type="password" @bind-Value="LoginFormModel.Password" class="form-control"></InputText>
                </label>
            </div>
            <div>
                <button @onclick="TryLogin" class="btn btn-primary">Войти</button>
            </div>
        </EditForm>
    </NotAuthorized>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <Authorizing>
        Загрузка...
    </Authorizing>
</AuthorizeView>

@code {
    private LoginFormModel LoginFormModel { get; set; } = new();

    private async Task TryLogin()
    {
        await WebsiteAuthenticator.LoginAsync(LoginFormModel);
    }
}