<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjectManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i> Главная
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="projects">
                <i class="bi bi-briefcase" aria-hidden="true"></i> Проекты
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="tasks">
                <i class="bi bi-card-checklist" aria-hidden="true"></i> Задачи
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="projectStatuses">
                <i class="bi bi-dot" aria-hidden="true"></i> Статусы проекта
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="users">
                <i class="bi bi-people" aria-hidden="true"></i> Пользователи
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="domains">
                <i class="bi bi-globe" aria-hidden="true"></i> Домены
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="currencies">
                <i class="bi bi-currency-exchange" aria-hidden="true"></i> Валюты
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="currencyConverterChatSettings">
                <i class="bi " aria-hidden="true"></i> Конвертер валют → Настройки чатов
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="headaches">
                <i class="bi bi-flower1" aria-hidden="true"></i> Головные боли
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="bi bi-gear" aria-hidden="true"></i> Настройки
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
