@page "/users/{id:int}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.ProjectStatuses
@using ProjectManagement.Pages.Tasks
@using ProjectManagement.Pages.Users

@inject MyContext _context;

<EditComponent TEntity="User" TView="UserView" TContext="MyContext"
               Id="Id" @ref="editComponent">
    <MainTemplate>
        <EditForm EditContext="editComponent.EditContext">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <span class="input-group-text">Логин</span>
                <InputText id="Username" @bind-Value="editComponent.Entity.Username"
                           class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">ФИО</span>
                <InputText id="Fullname" @bind-Value="editComponent.Entity.Fullname"
                           class="form-control" />
            </div>

        </EditForm>

        <div class="input-group mb-3">
            <span class="input-group-text">Пароль</span>
            <input type="password" class="form-control" @bind-value="@_password" />
            <button @onclick="SavePassword" type="button" class="btn btn-primary">Сохранить пароль</button>
        </div>
    </MainTemplate>
</EditComponent>

@code {
    [Parameter]
    public int Id { get; set; }

    public EditComponent<User, UserView, MyContext> editComponent { get; set; }

    private string _password;

    public async System.Threading.Tasks.Task SavePassword()
    {
        var user = await _context.Users.FirstOrDefaultAsync(x => x.Id == Id);
        user.Password = new PasswordHasher<object>().HashPassword(null, _password);
        //await System.Threading.Tasks.Task.Delay(2000);
        await _context.SaveChangesAsync();
    }
}
