@page "/projectStatuses/{id:int}"

@inject NavigationManager NavigationManager

<EditComponent TEntity="ProjectStatus" TFactory="ProjectStatusFactory" TView="ProjectStatusView" TContext="MyContext"
               Id="Id" @ref="editComponent">
    <Fragment1>
        <EditForm EditContext="editComponent.EditContext">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <span class="input-group-text">Наименование</span>
                <InputText id="Name" @bind-Value="editComponent.Entity.Name" class="form-control" />
            </div>

        </EditForm>
    </Fragment1>
</EditComponent>

@code {
    [Parameter]
    public int Id { get; set; }

    public EditComponent<ProjectStatus, ProjectStatusFactory, ProjectStatusView, MyContext> editComponent { get; set; }
}
