@inherits EditComponent<ProjectStatus, ProjectStatusFactory, ProjectStatusView, MyContext>
@page "/projectStatuses/{id:int}"
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.ProjectStatuses
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager

<h3>@View.GetName(): @Entity</h3>


@if (Loading)
{
    <div>Загрузка...</div>
}
else
{
    <p><button @onclick="Save" type="button" class="btn btn-primary">Сохранить</button></p>

    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />

        <div class="input-group mb-3">
            <span class="input-group-text">Наименование</span>
            <InputText id="Name" @bind-Value="Entity.Name" class="form-control" />
        </div>

    </EditForm>
}

@code {
    
}
