@page "/currencies/{id:int}"

<EditComponent TEntity="Currency" TView="CurrencyView" TContext="MyContext" Id="Id" @ref="editComponent">
    <MainTemplate>
        <EditForm EditContext="editComponent.EditContext">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <span class="input-group-text">Код</span>
                <InputText @bind-Value="editComponent.Entity.Code" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Курс</span>
                <InputNumber @bind-Value="editComponent.Entity.Rate" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Символы</span>
                <InputText @bind-Value="editComponent.Entity.Symbols" class="form-control" />
            </div>

        </EditForm>
    </MainTemplate>
</EditComponent>

@code {
    [Parameter]
    public int Id { get; set; }

    public EditComponent<Currency, CurrencyView, MyContext> editComponent { get; set; }
}
