@page "/"
@using Microsoft.AspNetCore.DataProtection
@inject IDataProtectionProvider _provider

<PageTitle>Главная</PageTitle>

<h1>Hello, world!</h1>

@code {
    private string _rawText;

    public string RawText
    {
        get
        {
            return _rawText;
        }
        set
        {
            _rawText = value;

            var purpose = @"Lh9XTMkHZSLvuSJ4VPLjMifVsPhsCtVEHz7CZx3LLUPjQXQWEPhDyV2Jqn2Jktzz";

            var protector = _provider.CreateProtector(purpose);
            Encrypted = protector.Protect(value ?? "");

            var protector2 = _provider.CreateProtector(purpose);
            Decrypted = protector2.Unprotect(Encrypted);
        }
    }

    public string Encrypted { get; set; }

    public string Decrypted { get; set; }

}