@page "/projects/{id:int}"
@using Microsoft.EntityFrameworkCore
@using ProjectManagement.Pages.ProjectStatuses
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager
@inject MyContext _context;
@inject MyContext _context2;

<EditComponent TEntity="Project" TView="ProjectView" TContext="MyContext"
               Id="Id" @ref="editComponent">
    <MainTemplate>
        <EditForm EditContext="editComponent.EditContext">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <span class="input-group-text">Наименование</span>
                <InputText @bind-Value="editComponent.Entity.Name" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Ссылка</span>
                <InputText @bind-Value="editComponent.Entity.Link" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Статус</span>
                <LookupComponent2 TEntity="ProjectStatus" @bind-Entity="editComponent.Entity.Status"
                                  View="@(new ProjectStatusAllView(_context))" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Описание</span>
                <InputTextArea @bind-Value="editComponent.Entity.Description"
                               class="form-control" rows="10" />
            </div>

        </EditForm>
    </MainTemplate>
    <FooterTemplate>
        <hr />
        @if (editComponent.Entity.Id != 0)
        {
            <DataGridDbContexted View=@(new TasksByProjectView(_context2, editComponent.Entity.Id))
                           CreateButtonVisible="false" TEntity="ProjectManagement.Pages.Tasks.Task" />
        }
    </FooterTemplate>
</EditComponent>

@code {
    [Parameter]
    public int Id { get; set; }

    public EditComponent<Project, ProjectView, MyContext> editComponent { get; set; }
}
