@inherits EditComponent<Project, ProjectFactory, ProjectView, MyContext>
@page "/projects/{id:int}"
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager

<h3>@View.GetName(): @Entity</h3>

<p>
    <button @onclick="Save" type="button" class="btn btn-primary">Сохранить</button>
</p>

@if (Loading)
{
    <div>Загрузка...</div>
}
else
{
    <EditForm Model="@Entity" OnValidSubmit="@HandleValidSubmit">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Наименование</span>
            </div>
            <InputText id="Name" @bind-Value="Entity.Name" class="form-control" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Ссылка</span>
            </div>
            <InputText id="Link" @bind-Value="Entity.Link" class="form-control" />
        </div>

    </EditForm>

    @if (Entity.Id != 0)
    {
        <DataGridComponent View=@(new TasksByProjectView(Entity.Id)) CreateButtonVisible="false" />
    }
}

@code {
    public void HandleValidSubmit()
    {

    }
}
