@page "/projects/{id:int}"
@using Microsoft.EntityFrameworkCore
@using ProjectManagement.Pages.ProjectStatuses
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager

<EditComponent TEntity="Project" TFactory="ProjectFactory" TView="ProjectView" TContext="MyContext" Id="Id">
    <Fragment1 Context="context2">
        <EditForm EditContext="context2.EditContext">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <span class="input-group-text">Наименование</span>
                <InputText @bind-Value="context2.Entity.Name" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Ссылка</span>
                <InputText @bind-Value="context2.Entity.Link" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Статус</span>
                <LookupComponent2 TEntity="ProjectStatus" @bind-Entity="context2.Entity.Status" View="@(new ProjectStatusAllView())" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Описание</span>
                <InputTextArea @bind-Value="context2.Entity.Description" class="form-control" rows="10" />
            </div>

        </EditForm>

        @if (context2.Entity.Id != 0)
        {
            <DataGridComponent View=@(new TasksByProjectView(context2.Entity.Id)) CreateButtonVisible="false" />
        }
    </Fragment1>
</EditComponent>

@code {
    [Parameter]
    public int Id { get; set; }
}
